<h1>Mục lục<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tạo-dữ-liệu-mô-phỏng" data-toc-modified-id="Tạo-dữ-liệu-mô-phỏng-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tạo dữ liệu mô phỏng</a></span></li><li><span><a href="#Mô-tả-bài-toán" data-toc-modified-id="Mô-tả-bài-toán-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Mô tả bài toán</a></span><ul class="toc-item"><li><span><a href="#Cách-làm-1-với-2-dòng-codes" data-toc-modified-id="Cách-làm-1-với-2-dòng-codes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Cách làm 1 với 2 dòng codes</a></span></li><li><span><a href="#Tuy-nhiên-có-1-cách-chỉ-cần-1-dòng-code-để-giả-quyết-vấn-đề-này" data-toc-modified-id="Tuy-nhiên-có-1-cách-chỉ-cần-1-dòng-code-để-giả-quyết-vấn-đề-này-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tuy nhiên có 1 cách chỉ cần 1 dòng code để giả quyết vấn đề này</a></span></li></ul></li></ul></div>

Bài hôm nay tôi sẽ giới thiệu về 1 trường hợp thao tác số liệu rất thú vị trên Statalist

## Tạo dữ liệu mô phỏng

In [1]:
clear
input byte firm_number float(prob n)
1 .26130265 1
1 .25147092 2
1  .2452173 3
1  .2420091 4
2 .26272482 1
2 .26272482 2
2  .2372752 3
2  .2372752 4
3    .27035 1
3  .2537077 2
3 .24096736 3
3 .23497495 4
end

     firm_n~r       prob          n

In [2]:
%browse

     +-------------------------+
     | firm_n~r       prob   n |
     |-------------------------|
  1. |        1   .2613026   1 |
  2. |        1   .2514709   2 |
  3. |        1   .2452173   3 |
  4. |        1   .2420091   4 |
  5. |        2   .2627248   1 |
     |-------------------------|
  6. |        2   .2627248   2 |
  7. |        2   .2372752   3 |
  8. |        2   .2372752   4 |
  9. |        3     .27035   1 |
 10. |        3   .2537077   2 |
     |-------------------------|
 11. |        3   .2409674   3 |
 12. |        3    .234975   4 |
     +-------------------------+

## Mô tả bài toán

<p style="color:red">Với mỗi firm_number thì tính giá trị trung bình của biến prob</p>

### Cách làm 1 với 2 dòng codes

In [3]:
// VỚi mỗi giá trị của firm_number tạo biến mới là temp, nếu n==2
bys firm_number: gen temp = prob if _n == 2
// Với mỗi giá trị của firm_number tạo biến mong muốn bằng trung bình của biến temp
bys firm_number: egen wanted = mean(temp)

(9 missing values generated)

In [4]:
%browse

     +-----------------------------------------------+
     | firm_n~r       prob   n       temp     wanted |
     |-----------------------------------------------|
  1. |        1   .2613026   1          .   .2514709 |
  2. |        1   .2514709   2   .2514709   .2514709 |
  3. |        1   .2452173   3          .   .2514709 |
  4. |        1   .2420091   4          .   .2514709 |
  5. |        2   .2627248   1          .   .2627248 |
     |-----------------------------------------------|
  6. |        2   .2627248   2   .2627248   .2627248 |
  7. |        2   .2372752   3          .   .2627248 |
  8. |        2   .2372752   4          .   .2627248 |
  9. |        3     .27035   1          .   .2537077 |
 10. |        3   .2537077   2   .2537077   .2537077 |
     |-----------------------------------------------|
 11. |        3   .2409674   3          .   .2537077 |
 12. |        3    .234975   4          .   .2537077 |
     +-----------------------------------------------+

### Tuy nhiên có 1 cách chỉ cần 1 dòng code để giả quyết vấn đề này

In [5]:
bys firm_number (n): egen wanted2 = mean(cond(n == 2, prob, .))

<p style="color:red">Kiểm tra xem biến wanted với wanted2 có bằng nhau không bằng lệnh assert</p>

In [7]:
assert wanted==wanted2

In [9]:
di _rc // Vì _rc==0 cho nên có thể thấy rằng wanted == wanted2

0

Cấu trúc lệnh mục 2.2 sẽ được làm rõ ở các bài tiếp theo,

Trân trọng cảm ơn sự chú ý của các bạn!!!